/* 
footer {
  padding: 50px 20px 20px 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333;
}

footer h5 {
  margin-bottom: 15px;
}

footer a {
  display: block;
  text-decoration: none;
  color: #007bff;
  margin-bottom: 5px;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  max-width: 100%;
}

footer .fs-4 i {
  color: #007bff;
  cursor: pointer;
}

footer hr {
  margin: 20px 0;
  border: 0.5px solid #ccc;
}

footer .footer-para {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #6c757d;
}


footer .footer a {
  font-size: 0.8rem;
}

footer .footer.d-flex a {
  display: inline-block;
  margin: 5px 10px;
} */

/* Responsive */
@media (max-width: 992px) {
  footer .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  footer .col {
    flex: 1 1 100%;
    text-align: center;
  }

  footer .fs-4.d-flex,
  footer .footer.d-flex {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  footer .footer-para {
    font-size: 0.7rem;
    line-height: 1.4;
  }

  footer h5 {
    font-size: 1rem;
  }

  footer .fs-4 i {
    font-size: 1.2rem;
    margin: 5px;
  }

  footer img {
    width: 60%;
    margin: 0 auto;
  }
}
